<h1>Change password of <%= current_user.username %></h1>
<%= form_tag user_path, method: :put do %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= label_tag :password %>
<br>
<%= password_field_tag :password, nil %>
<br>
<br>
<%= label_tag :password_confirmation %>
<br>
<%= password_field_tag :password_confirmation, nil %>
<br>
<br><%= submit_tag "Save", class: "btn btn-primary" %>
<br>
<br>
<%= link_to 'Back', users_path %>
<% end %>
