<p id="notice"><%= notice %></p>
<h1><%= @user.username %></h1>
<p>
has given <%= pluralize(@user.ratings.count, "rating", "ratings") %>, average <%= @user.average_rating %>. 
<h3>Favorites</h3>
<ul>
<% if @user.ratings.any? %>
	<li>Favorite beer style is <i><%= @user.favorite_style %></i></li>
	<li>Favorite brewery is <i><%= @user.favorite_brewery.name %></i>
	</li>
<% end %>
</ul>
<h3>Ratings</h3>
<ul>
	<% @user.ratings.each do |rating| %>
	<li><%= rating %> 
		<% if currently_signed_in?(@user) %>
		<%= link_to "delete", rating_path(rating), method: :delete, data: { confirm: "Are you sure?"} %>
		<% end %>
	</li>
	<% end %>
</ul>
</p>
<h3>Beer clubs</h3>
<p>
	<strong>member of</strong>
	<ul>
		<% @user.accepted_applications.each do |club| %>
		<li><%= link_to club.name, beer_club_path(club) %></li>
		<% end %>
	</ul>
</p>
<p>
	<strong>applied membership of</strong>
	<ul>
		<% @user.pending_applications.each do |club| %>
		<li><%= link_to club.name, beer_club_path(club) %></li>
		<% end %>
	</ul>
</p>
<% if(currently_signed_in?(@user)) %>
<%= link_to 'Edit', edit_user_path(@user) %>
|
<%= link_to "Destroy", user_path(@user), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
