<p id="notice"><%= notice %></p>

<h2><%= @brewery.name %> <i>Established year <%= @brewery.year %></i></h2>
<p>
  <strong>Beers: <%= @brewery.beers.count %></strong>
  <ul>
  	<% @brewery.beers.each do |beer| %>
  	<li>
  	  <%= link_to beer.name,beer %>
  	</li>	
    <% end %>  
  </ul>
  beers of the brewery have <%= pluralize(@brewery.ratings.count,"rating","ratings") %>, average <%= @brewery.average_rating %>
</p>
<%= link_to "Edit", edit_brewery_path(@brewery), class: "btn btn-default" unless current_user.nil? %>
 <%= link_to 'Destroy', @brewery, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if ensure_that_admin %>
