<p id="notice"><%= notice %></p>
<% cache "showbrewery", skip_digest: true do %>
<h2>
	<%= @brewery.name %> 
	<i>Established year <%= @brewery.year %></i>
	<% if not @brewery.active %>
		<span class="label">retired</span>
	<% end %>
</h2>
<p>
  <strong>Beers: <%= @brewery.beers.count %></strong>
  <ul>
  	<% @brewery.beers.each do |beer| %>
  	<li>
  	  <%= link_to beer.name,beer %>
  	</li>	
    <% end %>  
  </ul>
  beers of the brewery have <%= pluralize(@brewery.ratings.count,"rating","ratings") %>, average <%= @brewery.average_rating %>
</p>
<% end %>
<%= link_to "Edit", edit_brewery_path(@brewery), class: "btn btn-default" unless current_user.nil? %>
 <%= link_to 'Destroy', @brewery, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if ensure_that_admin %>
