<p id="notice"><%= notice %></p>

<h1>
  <%= @beer.name %>
</h1>

<p>
  <b>Style:</b>
  <%= @beer.style %>
</p>

<p>
  <b>Brewery:</b>
  <%= @beer.brewery.name %>
</p>
<% if @beer.ratings.count>0 %>
beer has <%= pluralize(@beer.ratings.count, "rating", "ratings") %>, average <%= @beer.average_rating %>
<% else %>
beer has not yet been rated!
<% end %>
<br>
<br><%= link_to 'Edit', edit_beer_path(@beer) unless current_user.nil? %>
<% if(not current_user.nil?) %>
	<h4>Give a rating</h4>
	<%= form_tag ratings_path do %>
	<%= hidden_field_tag "rating[beer_id]", @beer.id %>
	<div class="field">
		<label>score</label>
		<%= number_field_tag "rating[score]" %>
	</div>
	<%= submit_tag "Submit review", class: "btn btn-primary" %>
<% end %>
<% else %>
	<%= link_to "Signin to review this beer", signin_path %>
<% end %>
<%= link_to "Edit", edit_beer_path(@beer), class: "btn btn-default" unless current_user.nil? %>
 <%= link_to 'Destroy', @beer, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } unless current_user.nil? %>