<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @beer.name %>
</p>

<p>
  <b>Style:</b>
  <%= @beer.style %>
</p>

<p>
  <b>Brewery:</b>
  <%= @beer.brewery.name %>
</p>
<% if @beer.ratings.count>0 %>
beer has <%= pluralize(@beer.ratings.count, "rating", "ratings") %>, average <%= @beer.average_rating %>
<% else %>
beer has not yet been rated!
<% end %>
<br>
<br><%= link_to 'Edit', edit_beer_path(@beer) %>