<h1><%= @beer_club.name %>, <%= @beer_club.city %></h1>
<p>
	<%= notice %>
</p>
<p>
	Founded at <%= @beer_club.founded %>
</p>
<p>
	<strong>Members (<%= @beer_club.confirmed_users.count %>):</strong>
	<ul>
		<% @beer_club.confirmed_memberships.each do |m| %>
		<li><%= link_to m.user.username, user_path(m.user) %></li>
		<% end %>
	</ul>
</p>
<% if(not @beer_club.users.include?(current_user) and not current_user.nil?)  %>
	<h4>Join the club</h4>
	<%= form_tag memberships_path do %>
		<%= hidden_field_tag :club_id, @beer_club.id %>
		<%= submit_tag "Join this club", class: "btn btn-primary" %>
	<% end %>
<% end %>
<% if(@beer_club.confirmed_users.include?(current_user)) && @beer_club.not_confirmed_memberships.count>0 %>
	<h4>Outstanding applications</h4>
	<ul>
		<% @beer_club.not_confirmed_memberships.each do |m| %>
			<%= form_tag membership_path(m), method: :put do %>
			<li>
				<%= link_to m.user.username, user_path(m.user) %>
				<%= submit_tag "Confirm", class: "btn btn-primary" %>
			</li>
			<% end %>
		<% end %>
	</ul>
<% end %>
<% if(@beer_club.confirmed_users.include?(current_user)) %>
	<h4>Resign the club</h4>
	<p>
	<%= link_to "Resign this beer club", membership_path(@membership), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
<% end %>
<%= render "edit_and_destroy_buttons", beer_club: @beer_club %>
