<h1><%= @beer_club.name %>, <%= @beer_club.city %></h1>

<p>
	Founded at <%= @beer_club.founded %>
</p>
<p>
	<strong>Members (<%= @beer_club.users.count %>):</strong>
	<ul>
		<% @beer_club.users.each do |member| %>
		<li><%= link_to member, user_path(member) %></li>
		<% end %>
	</ul>
</p>
<% if(not @beer_club.users.include?(current_user)) %>
	<h4>Join the club</h4>
	<%= form_tag joining_club_path do %>
		<%= hidden_field_tag :club_id, @beer_club.id %>
		<%= submit_tag "Join this club", class: "btn btn-primary" %>
	<% end %>
<% end %>
<%= link_to 'Edit', edit_beer_club_path(@beer_club) unless current_user.nil? %>
