<% if @membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this beer_club from being saved:</h2>

      <ul>
      <% @membership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_tag memberships_path, method: :post %>
<%= label_tag :club_id, "club name" %>
<br>
<%= select_tag :club_id, options_from_collection_for_select(@clubs, "id", "to_s") %>
<br>
<br>
<%= submit_tag "Join the club", class: "btn btn-primary" %>
